#titulo {
    color: tomato;
}

p.texto {
    color: slateblue;
}

p.especial {
    color:mediumseagreen;
}

div p {
    color: aquamarine;
}

div h2, div h3 {
    color: brown;
}

* {
    font-size: 24px;
    color: black;
}

/* Este es un comentario */

.color {
    /* color: red; */
    /* color: #F00;  RRGGBB */
    /* color: rgb(255, 0, 0); */
    border: 5px dotted black;
    /* 
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden
    */

}